body, html {
  height: 100%;
  overflow-y: hidden;
}

.min-100 {
  min-height: 100%;
}

body {
  background: #fff;
}

.carousel-item>ifmg, #carouselExampleSlidesOnly {
  /* max-width: 80%!important; */
}

.carousel-inner {
  /* height: 45vw !important; */
}

#vroom {
  /* height: 100%; */
}

.no-gutter {
  padding: 0;
  background: #fff;
}

.card {
  border-radius: 0 !important;
}

.card>img {
  max-width: 150px;
  margin: 0 auto;
}

.overlay {
  background: #fff;
  /* background: linear-gradient(to right, #d7d2cc 0%, #304352 100%); */
  height: 100%;
  position: absolute;
  z-index: 1;
}

.ch-base {
  background-image:
    -moz-linear-gradient(45deg, #000 25%, transparent 25%),
    -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
    -moz-linear-gradient(45deg, transparent 75%, #000 75%),
    -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
  background-image:
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-background-size: 100px 101px;
  /* override value for shitty webkit */
  background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
  min-height: 100%;
  /* max-height:  */
}

#overlay_content {
  color: #ffc107;
  font-family: 'Racing Sans One', cursive;
  text-transform: uppercase;
}

#overlay_content>h4 {
  font-size: 5em;
}

.btn-push {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: radial-gradient(closest-corner at 50% 50%, rgba(0, 0, 0, .9), rgb(0, 0, 0), #1b1b1b, black);
  /* background: radial-gradient(circle at 51%, #343a40, #212529 65%, rgba(0,0,0,.9) 101%, #721c24 121%); */
  border: 10px #777777 solid;
  color: white;
  font-family: 'Rubik';
}

.btn-push:hover {
  color: #B0BF1A;
}

.btn-push:hover>p:first-child {
  background: orange;
}

.btn-push>p {
  margin: 0;
  font-size: 15px;
  line-height: 22px;
}

.btn-push:focus {
  color: red;
}

.btn-push:focus>p:first-child {
  background: #0073aa;
}

.btn-push>p:first-child {
  content: '';
  margin: 0 auto;
  margin-bottom: 10px;
  width: 20px;
  background: #fff;
  border-radius: 20%;
  min-height: 4px;
}

.carousel-caption-modified>h5 {
  font-size: 23px;
  font-weight: 900;
  font-family: rubik;
  /* color: red; */
}

.carousel-caption-modified {
  /* background: black; */
  padding: 0 !important;
  font-weight: 900;
  width: 100%;
  position: absolute;
  /* right: 15%; */
  bottom: 20px;
  /* left: 15%; */
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 15px;
  text-align: center;
}

.carousel-caption-modified>p {
  color: #f8f9fa !important;
  /* width: 70%; */
  font-size: 15px;
  margin: 0 auto;
  font-family: Rubik;
  /* text-align: center; */
}

.btn-push>p:nth-child(3) {
  font-size: 22px;
}

.overlay-fade-leave-active {
  transition: all 3s ease
    /* transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0); */
}

.overlay-fade-leave-to {
  transform: scale3d(10px);
  opacity: 0;
}

.slideTrans-enter-active {
  transition: all 3s ease;
}

.slideTrans-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slideTrans-enter, .slideTrans-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.img-fade-enter-active {
  /* animation: bounce-in .5s; */
  transform: translateX(500px);
  transition: opacity .5s;
}

.img-fade-enter, .img-fade-leave-to {
  opacity: 0;
  /* animation: bounce-in .5s reverse; */
  /* transform: translateY(510px); */
  transform: rotate(15deg);
}

.alert-animation-enter-active {
  animation: bounce-in .5s;
  /* transform: translateX(500px);
  transition: opacity .5s; */
}

.alert-animation-enter, .alert-animation-leave-to {
  opacity: 0;
  animation: bounce-in .5s;
  /* transform: translateY(510px); */
  /* transform: rotate(15deg); */
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(0.3);
  }

  100% {
    transform: scale(0.5);
  }
}

table {
  margin: 0 auto;
  font-family: rubik;
  /* font-size: 20px; */
}

table>thead>th {
  padding: 0px 20px;
}

.alert-custom {
  top: 245px;
  width: fit-content;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  html, body {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 991px) {
  .card {
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  body #overlay_content>h4 {
    font-size: 2em;
  }
}
