<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <title>Choose Your Weapon</title>
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container min-10" id="vroom">
    <div class="row" style="margin:0;width:100%;height:100%;">
      <div class="col-12 no-gutter ">
        <div class="ch-base">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 no-gutter">
                <brands-list v-for="brand in brandsList" :brand="brand" :key="brand.id" @click.native="showModel">
                </brands-list>

                <div class="alert-custom">
                  <transition name="alert-animation">
                    <div v-if="!animation.pushStart && animation.alert" class="align-self-end alert alert-primary" role="alert">
                      Click on the logos
                    </div>
                  </transition>
                </div>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 no-gutter">
                <transition name="overlay-fade">
                  <div class="d-flex w-100 overlay" v-if="animation.pushStart">
                    <div class="d-flex w-100 h-100 ch-base">
                      <div class="mx-auto my-auto">
                        <div class="text-center" id="overlay_content">
                          <h4>Choose your weapon</h4>
                          <button type="button" class="btn btn-push" name="button" v-on:click="start">
                            <p></p>
                            <p>ENGINE</p>
                            <p>START</p>
                            <p>STOP</p>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </transition>
                <div id="carCarousel" class="carousel slide" data-ride="carousel" data-interval="true">
                  <transition name="slideTrans">
                    <!-- put ! back -->
                    <model-desc v-if="!animation.pushStart" :detailsbrand="brandsList[currentBrand.id]"></model-desc>
                  </transition>

                  <!-- <component :is="" :detailsbrand="model-desc"></component> -->
                  <div class="carousel-inner">
                    <transition-group name="img-fade">
                      <component v-for="(modelphoto,index) in brandsList[currentBrand.id].gallery" :detailsbrand="brandsList[currentBrand.id]" :key="index" :index="index" :modelphoto="modelphoto" v-bind:is="currentBrandTab"></component>
                    </transition-group>

                  </div>
                  <a class="carousel-control-prev" href="#carCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/main.js" charset="utf-8"></script>
  <script src="js/jQuery-code.js" charset="utf-8"></script>
</body>

</html>
